
/* Global color variables */

$colorPrimary: #F5F2E8;
$colorSecondary: #CBF3F0;
$colorTertiary: #2EC4B6;
$globalBackgroundColor: #1d3033;
$globalBackgroundColorLight: #1d2d33;

$btnPrimary: #FFBF69;
$btnSecondary: #FF9F1C;

/* Global fonts */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

$fontScourceSansPro: 'Source Sans Pro', sans-serif;