@import 'mixins';

/* Search component */

.searchContainer{
	.titleDiv{
		text-align: center;
		font-family: $fontScourceSansPro;
	}
	.formContainer{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		.form{
			.input{
				border-radius: 5px;
				border: 1px solid #ccc;
				text-align: center;
				font-family: $fontScourceSansPro;
				&:focus{
					outline: none !important;
					border: 1px solid $colorTertiary;
					box-shadow: 0 0 5px $colorTertiary
				}
			}
			.submitBtn{
				border-style: none;
				padding: 4px;
				margin-top: 1vh;
				background-color: $btnPrimary;
				margin-left: 35%;
				font-family: $fontScourceSansPro;
					&:hover{
						cursor: pointer;
						background-color: $btnSecondary;
					}
			}
		}
	}
}

/* Weather card component */

.weatherContainer {
	.missingCity{
		text-align: center;
		font-family: $fontScourceSansPro;
	}
	.cardHeader{
		text-align: center;
		font-family: $fontScourceSansPro;
	}
	.card{
		background-color: $colorSecondary;
		padding: 3%;
		border-radius: 15px;
		.cardBody{
			display: flex;
			justify-content: space-around;
			.cardLeft{
				background-color: $colorTertiary;
				border-radius: 15px;
				.cardImage{
					margin-top: 10px;
				}
				.leftDiv{
					display: flex;
					flex-direction: row;
					border-radius: 15px;
					padding: 0 4px 0 4px;
					background-color: $colorPrimary;
					.description{
						font-family: $fontScourceSansPro;
						margin: auto;
						text-transform: capitalize;
					}
				}
			}
			.cardRight{
				.temp{
					font-family: $fontScourceSansPro;
					font-weight: 700;
					color: $colorTertiary;
					font-size: xx-large;
				}
			}

		}
	}
}

/* Forecast Card Component */

.forecastContainer{
	.dt{
	}
	.day{
		.zero{

		}
		.three{

		}
		.six{

		}
		.nine{

		}
		.twelve{

		}
		.fifteen{

		}
		.eighteen{

		}
		.twentyOne{

		}
	}
}

/* 24 hour graph */

.graphContainer{
	.graphLabel{
		text-align: center;
		font-family: $fontScourceSansPro;
	}
	.graph{
		width: 100%;
		height: 100%;
		background-color: $colorPrimary;
		border-radius: 15px;
		.graphLine{
			padding: 10px;
		}
		}
	}